<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Devour Me!
	</button>

    <button class="delete-burger" data-id="{{this.id}}">Delete Burger!</button>

</li>